services:
  web:
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "3000:3000"
    volumes:
      - .:/app
    environment:
      - RAILS_ENV=development
    depends_on:
      - arcdex-solr
    stdin_open: true
    tty: true
    env_file:
      - .env

  arcdex-solr:
    image: solr:9.7.0
    ports:
      - "8983:8983"
    volumes:
      - ./solr/conf:/opt/solr/configsets/arclight/conf:ro
      - solr_data:/var/solr
    command:
      - bash
      - -c
      - |
        precreate-core arclight /opt/solr/configsets/arclight
        precreate-core arclight-test /opt/solr/configsets/arclight
        exec solr-foreground
    env_file:
      - .env

volumes:
  pgdata:
  solr_data:
