<div data-controller="image-zoom">
  <%= content_tag :div, class: "arcdex-image d-flex justify-content-center px-5" do %>
    <%= image %>
  <% end %>

  <%= render Arcdex::ZoomedCardViewComponent.new(document:) %>
</div>
