<%#
  OVERRIDE Arcdex v2.0.0.alpha to show custom html and no download button
%>

<div class='al-show-actions-box mb-3'>
  <div class="al-actions-box-container">
    <button type="button" class="btn-close d-lg-none float-end mt-1 me-1" data-bs-dismiss="offcanvas" data-bs-target="#sidebar" aria-label="Close"></button>
    <h2><%= title %></h2>

    <div class="al-collection-context-actions d-flex flex-wrap gap-1">
      <%= collection_info %>
    </div>
  </div>
</div>
