<% access_content = capture do %>
  <%= render Arcdex::MetadataSectionComponent.with_collection(section_names,
              metadata_attr: { layout: Arclight::UpperMetadataLayoutComponent },
              presenter: presenter) %>
<% end %>

<% if access_content.present? %>
  <div id="<%= t('arclight.views.show.sections.access_field').parameterize %>">
    <%= access_content%>
  </div>
<% end %>
