<div data-image-zoom-target="overlay" class="zoom-overlay" data-action="click->image-zoom#close">
  <div class="close-indicator">&times;</div>
  <img data-image-zoom-target="zoomImage" src="" alt="Zoomed image" data-action="click->image-zoom#preventClose">
</div>
