<li class="nav-item py-2 py-lg-1 col-12 col-md-auto mx-2 user-util-links-divider">
  <div class="vr d-none d-md-flex h-100 mx-lg-2 text-white"></div>
  <hr class="d-md-none my-2 text-white-50">
</li>
