<%#
  OVERRIDE Blacklight v8.11.0 to make sure the page keeps scrolling
    after closing the modal with the esc key
%>

<dialog id="blacklight-modal" class="modal" data-turbo="false" data-controller="modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    </div>
  </div>
</dialog>

