<%#
  OVERRIDE Arclight 2.0.0.alpha to disable if searching on Category => sets
    and if on bookmarks index, it will render a search results button
%>

<% unless collection_active? || controller_name == 'bookmarks' %>
  <div class="result-type-group btn-group" role="group" aria-label="<%= t('arclight.views.index.group_results') %>">
    <%= link_to t('arclight.views.index.all_results'),
                search_catalog_path(search_without_group),
                class: "btn btn-outline-secondary #{'active' unless grouped?}"
    %>
    <%= link_to t('arclight.views.index.group_by_collection'),
                search_catalog_path(search_with_group),
                class: "btn btn-outline-secondary #{'active' if grouped?}"
    %>
  </div>
<% end %>

<% if controller_name == 'bookmarks' %>
  <div class="flex-grow-1">
    <%= link_to t('blacklight.bookmarks.view_on_search_results'), bookmarks_to_catalog_search_path(@bookmarks), class: 'flex-grow-1 btn btn-info' %>
  </div>
<% end %>
