:root {
  --bs-breadcrumb-divider: "»";
}

// Arclight, imported from arclight frontend package
@import 'arclight/app/assets/stylesheets/arclight/application';

#set-information {
  .set-symbol {
    max-width: 40px;
  }
  .set-logo {
    max-width: 100%;
  }
}

#about-this-level {
  .large-card-image {
    max-width: 85%;
  }
}

// OVERRIDE Blacklight v8.9.0 to allow sidebar to scroll independently of the finding aid content
#sidebar {
  @media (min-width: 992px) {
    position: sticky;
    top: 1rem;
    height: 100vh;
    overflow-y: auto;
  }

  .al-request-button {
    height: 35px;
  }
}

.facet-values {
  li {
    position: relative;

    a {
      height: 1.5rem;
    }

    &:has(.exclude-facet-link .exclude-facet-icon) .facet-label:not(:has(.selected)) {
      transform: translateX(-1.125rem);
      transition: transform 0.2s ease;
    }

    a[rel="nofollow"] {
      .exclude-facet-icon {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.2s ease, visibility 0.2s ease;
      }

      &:focus {
        .exclude-facet-icon {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    &:hover {
      &:has(.exclude-facet-link .exclude-facet-icon) .facet-label:not(:has(.selected)) {
        transform: translateX(0);
      }

      a[rel="nofollow"] {
        .exclude-facet-icon {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}

.constraints-container {
  .exclude-filter {
    span {
      text-decoration: line-through;
    }
  }
}

.arcdex-series {
  .arcdex-sets {
    .image-container {
      height: 12.5rem;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        max-height: 12.5rem;
      }
    }
  }
}

#documents {
  .document-type-icon {
    width: 4rem;
  }

  &.documents-gallery {
    .document {
      margin-bottom: 2rem;

      .document-thumbnail {
        min-height: 12.5rem;
        display: flex;
        justify-content: center;
        align-items: center;

        .img-thumbnail {
          border: none;
        }
      }
    }
  }
}

// OVERRIDE Blacklight v8.9.0 to expand search bar to full width
.navbar-search {
  .search-query-form {
    width: 100%;
  }
}
